<div class="row">
    <div class="col-md-6">
      <div class="image-field">{{ field.content }} 123456478</div>
    </div>
    <div class="col-md-6">
      <div class="title-field">{{ content.title }}</div>
      <div class="time-field">{{ content.field_time }}</div>
      <div class="content-field">{{ content.field_content }}</div>
    </div>
  </div>
  