{{ attach_library('layout_builder_iframe_modal/redirect') }}

<div class="lbim-redirect-page">
  <div class="lbim-loading">
    <div></div>
    <div></div>
    <div></div>
    <div></div>
  </div>
</div>
