/*header{
    
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    
    
    

    .navbar-brand:hover{
        border-bottom: 5px solid #fff;
    }
    

    .site-logo img{
        width: 150px;
        height: auto;
    }

    .navbar-brand a.site-title{
        color: #fff;
        font-size: 34px;
        font-weight: bold;
        text-transform: capitalize;
    }
    .navbar-brand a.site-title:hover{
        color: #fff;
        font-size: 34px;
        font-weight: bold;
        text-transform: capitalize;}
        

    
    .menu--main{
        background-color: yellow;
        width: 100%;
        height: 50px;
    }
}


.d-flex{
    display: flex;
    flex-direction: column;
}

.navbar > .container{
    

    .navbar-brand{
       
        width: 100%;
        display: flex;
        flex-direction: row;
    }
}*/


header{
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    background-color: rgb(197, 14, 14);
    height: 110px;

    .d-flex{
        flex-direction: column;
    }
    .navbar > .container{
        align-items: start;
    }

    .navbar-brand{
        display: flex;
        flex-direction: row;
        height: 45px;
        margin: 10px 0 -10px 0 ;
        padding: 0 0 10px 0;
    }
    .navbar-brand:hover{
        border-bottom: 4px solid #fff;
    }

    .site-logo img{
        width: 120px;
        height: auto;
    }

    .navbar-brand a.site-title{
        color: #fff;
        font-size: 30px;
        font-weight: bold;
        text-transform: capitalize;
    }
    .navbar-brand a.site-title:hover{
        color: #fff;
        font-size: 30px;
        font-weight: bold;
        text-transform: capitalize;}

    .region-nav-main{
        //position: relative;
        background-color: #fff;
        height: 50px;
        margin: 10px 0;
        z-index: 2;
        //max-width: 1100px;
    }
    .region-nav-main::before{
        content: '';
        display: block;
        width: 100%;
        z-index: -1;
        height: 50px;
        background-color: #fff;
        position: absolute;
        left: 0px;
        border-bottom: 1px solid #d1bdbd;
    }
}

/*.navbar_nav{
    margin-top: 20px;
    .nav-item{
        margin: 150px 20px;
    }
    .nav-item:hover{
        border-bottom: 2px solid rgb(197, 14, 14);
    }

}
*/


#block-bbc-main-navigation > ul{
    z-index: 5;
    margin: 10px 0 0 0;
    padding: 0px 0 35px 0;
    li:hover{
        padding-bottom: 5px;
        border-bottom: 3px solid rgb(197, 14, 14);
    }
}


#block-bbc-main-navigation > ul > li > a{
    color: #000;
    font-weight: bold;

}