.visually-hidden {
  display: none;
}

.lbim-redirect-page {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.lbim-loading {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}

.lbim-loading div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 64px;
  height: 64px;
  margin: 8px;
  border: 8px solid #bbb;
  border-radius: 50%;
  animation: lbim-loading 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #bbb transparent transparent transparent;
}

.lbim-loading div:nth-child(1) {
  animation-delay: -0.45s;
}

.lbim-loading div:nth-child(2) {
  animation-delay: -0.3s;
}

.lbim-loading div:nth-child(3) {
  animation-delay: -0.15s;
}

@keyframes lbim-loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
