/* Vendor */
/* Setup */
/* Eric Meyer's Reset CSS v2.0 - http://cssreset.com */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  margin: 0;
  padding: 0;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* =======================================================================
## ++ Media Queries
========================================================================== */
/* 
    Used for media queries. 
    Add these mixins in your normal scss flow.

    Eg.
    .container{
        width:1024px;

        @include tablets{
            width:90%;
        }
    }
*/
/* =======================================================================
## ++ Unit transform
========================================================================== */
/*  
    Used for making containers have width in percentages. 
    Usage: define elemnt width in px and the width of parent elemnt in px. 
    eg. .block{width:cp(512px, 1024px)} this will result in .block{width:50%;}   
*/
/*  
    Used for making px values convert to rem values
    Usage: define font-size in px and it will convert to rems
    eg. font-size: rem(14px);
*/
/* =======================================================================
## ++ Globals
========================================================================== */
html {
  font-size: 100%;
}

body {
  -webkit-font-smoothing: antialiased;
  background: #fff;
}

* {
  box-sizing: border-box;
}

/* =======================================================================
## ++ Cleafix
========================================================================== */
/* float clearing for IE6 */
* html .clearfix {
  height: 1%;
  overflow: visible;
}

/* float clearing for IE7 */
* + html .clearfix {
  min-height: 1%;
}

/* float clearing for everyone else */
.clearfix:after {
  clear: both;
  content: ".";
  display: block;
  height: 0;
  visibility: hidden;
  font-size: 0;
}

.clr {
  clear: both;
}

.container {
  max-width: 1100px;
}

/* WP parts */
/*header{

    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;




    .navbar-brand:hover{
        border-bottom: 5px solid #fff;
    }


    .site-logo img{
        width: 150px;
        height: auto;
    }

    .navbar-brand a.site-title{
        color: #fff;
        font-size: 34px;
        font-weight: bold;
        text-transform: capitalize;
    }
    .navbar-brand a.site-title:hover{
        color: #fff;
        font-size: 34px;
        font-weight: bold;
        text-transform: capitalize;}



    .menu--main{
        background-color: yellow;
        width: 100%;
        height: 50px;
    }
}


.d-flex{
    display: flex;
    flex-direction: column;
}

.navbar > .container{


    .navbar-brand{

        width: 100%;
        display: flex;
        flex-direction: row;
    }
}*/
header {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  background-color: rgb(197, 14, 14);
  height: 110px;
}
header .d-flex {
  flex-direction: column;
}
header .navbar > .container {
  align-items: start;
}
header .navbar-brand {
  display: flex;
  flex-direction: row;
  height: 45px;
  margin: 10px 0 -10px 0;
  padding: 0 0 10px 0;
}
header .navbar-brand:hover {
  border-bottom: 4px solid #fff;
}
header .site-logo img {
  width: 120px;
  height: auto;
}
header .navbar-brand a.site-title {
  color: #fff;
  font-size: 30px;
  font-weight: bold;
  text-transform: capitalize;
}
header .navbar-brand a.site-title:hover {
  color: #fff;
  font-size: 30px;
  font-weight: bold;
  text-transform: capitalize;
}
header .region-nav-main {
  background-color: #fff;
  height: 50px;
  margin: 10px 0;
  z-index: 2;
}
header .region-nav-main::before {
  content: "";
  display: block;
  width: 100%;
  z-index: -1;
  height: 50px;
  background-color: #fff;
  position: absolute;
  left: 0px;
  border-bottom: 1px solid #d1bdbd;
}

/*.navbar_nav{
    margin-top: 20px;
    .nav-item{
        margin: 150px 20px;
    }
    .nav-item:hover{
        border-bottom: 2px solid rgb(197, 14, 14);
    }

}
*/
#block-bbc-main-navigation > ul {
  z-index: 5;
  margin: 10px 0 0 0;
  padding: 0px 0 35px 0;
}
#block-bbc-main-navigation > ul li:hover {
  padding-bottom: 5px;
  border-bottom: 3px solid rgb(197, 14, 14);
}

#block-bbc-main-navigation > ul > li > a {
  color: #000;
  font-weight: bold;
}

body {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

#block-bbc-page-title > h1 {
  margin: 30px 0;
  width: 90%;
}
#block-bbc-page-title > h1 span {
  font-size: 2.5rem;
  font-weight: bold;
}

.block-field-blocknodenews-with-videofield-time,
.block-field-blocknodenewsfield-time {
  margin-bottom: 30px;
}
.block-field-blocknodenews-with-videofield-time .field,
.block-field-blocknodenewsfield-time .field {
  color: rgb(97, 86, 86);
}

.block-layout-builder.block-field-blocknodenews-with-videofield-video,
.block-field-blocknodenewsfield-image {
  margin-bottom: 30px;
}
.block-layout-builder.block-field-blocknodenews-with-videofield-video img,
.block-field-blocknodenewsfield-image img {
  width: 90%;
  height: auto;
}

.block.block-layout-builder.block-field-blocknodenews-with-videobody,
.block-field-blocknodenewsbody {
  font-size: 1.1rem;
  line-height: 1.4rem;
  width: 90%;
  text-align: justify;
}
.block.block-layout-builder.block-field-blocknodenews-with-videobody p,
.block-field-blocknodenewsbody p {
  margin-bottom: 20px;
}
.block.block-layout-builder.block-field-blocknodenews-with-videobody strong,
.block-field-blocknodenewsbody strong {
  font-weight: bold;
  margin-bottom: 20px;
}

.block-field-blocknodenewsfield-tags > div {
  margin: 20px 0 0 0;
}
.block-field-blocknodenewsfield-tags > div .field__label {
  font-size: 30px;
  font-weight: bold;
}
.block-field-blocknodenewsfield-tags > div .field__items {
  display: flex;
  margin: 20px 0 50px 0;
}
.block-field-blocknodenewsfield-tags > div .field__item {
  background-color: rgb(230, 214, 214);
  padding: 10px 20px;
  margin-right: 10px;
}
.block-field-blocknodenewsfield-tags > div .field__item a {
  color: #000;
  text-decoration: none;
}

#block-views-block-latest-news-block-9 > div:nth-child(3) > div > div.view-content > div > ol {
  display: block;
}
#block-views-block-latest-news-block-9 > div:nth-child(3) > div > div.view-content > div > ol li {
  font-size: 1rem;
  line-height: 1.2rem;
}

@media screen and (max-width: 580px) {
  #block-bbc-page-title > h1 {
    margin: 30px 0;
    width: 90%;
  }
  #block-bbc-page-title > h1 span {
    font-size: 1.5rem;
    font-weight: bold;
  }
}
.block-one {
  display: flex;
}

.row {
  margin-bottom: 40px;
}

.news-item {
  height: 250px;
  margin-bottom: 30px;
}
.news-item .views-field-field-image img {
  width: 100%;
}
.news-item .views-field-title {
  width: 100%;
  text-align: justify;
}
.news-item .views-field-title a {
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  color: #000;
  text-decoration: none;
}
.news-item .views-field-title .views-field-field-time .field-content {
  color: #7a7171;
  font-size: 14px;
}

.news-item:hover .views-field-title {
  text-decoration: underline;
}

.news-item:first-child {
  display: none;
}

h1 {
  font-size: 2rem;
  font-weight: bold;
}

.views-element-container > h2 {
  font-weight: bold;
  font-size: 2rem;
}

.table > :not(caption) > * > * {
  padding: 0;
}

.table > tbody > tr {
  margin-top: 30px;
  display: flex;
  align-items: start;
  justify-content: center;
}
.table > tbody > tr .image-the,
.table > tbody > tr .views-field-field-video {
  width: 100%;
  padding-right: 20px;
}
.table > tbody > tr .image-the img,
.table > tbody > tr .views-field-field-video img {
  width: 100%;
  height: auto;
}
.table > tbody > tr .views-field {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
}
.table > tbody > tr .views-field-title {
  width: 100%;
  text-align: justify;
}
.table > tbody > tr .views-field-title a {
  font-weight: bold;
  font-size: 1.7rem;
  line-height: 36px;
  color: #000;
  text-decoration: none;
}
.table > tbody > tr .views-field-field-time {
  color: #7a7171;
  font-size: 14px;
}
.table > tbody > tr .views-field-body {
  color: #242222;
  font-size: 16px;
  line-height: 20px;
}

.table > tbody > tr:hover .views-field-title a {
  text-decoration: underline;
}

.item-list ol {
  display: grid;
  grid-template-columns: auto auto;
  margin-top: 20px;
}
.item-list ol li {
  margin-bottom: 20px;
  font-size: 1.2rem;
  font-weight: bold;
}
.item-list ol li a {
  color: #000;
  text-decoration: none;
}
.item-list ol li.list-item::marker {
  font-size: 1.5rem;
  color: rgb(197, 14, 14);
}
.item-list ol li:hover a {
  text-decoration: underline;
}
.item-list ul {
  margin-top: 20px;
}
.item-list ul li {
  margin-bottom: 20px;
  font-size: 1rem;
  font-weight: bold;
  line-height: 1.2rem;
}
.item-list ul li a {
  color: #000;
  text-decoration: none;
}
.item-list ul li .views-field-field-time {
  color: #7a7171;
  font-size: 14px;
}

@media screen and (max-width: 700px) {
  .table > tbody > tr {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
  }
}